/* 
DEPRECATED: This file is no longer used.
All pages now use their own CSS files:
- index.css for the home page
- about.css for the about page
- tours.css for the tours page
- blog.css for the blog page
- contact.css for the FAQ/contact page
*/
